@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Pacifico&display=swap');

@font-face {
  font-family: Madimi;
  src: url('../Fonts/MadimiOne-Regular.ttf');
}

* {
  margin: 0px;
  background: white;
}

#Banner {
  margin-bottom: 20px;
}
header {
  background-image: url('SMP.png');
  background-size: cover;
  color: white;
  padding-bottom: 20px;
  padding-top: 80px;
  text-align: center;
  font-size: 50px;
  font-family: pacifico;
  font-weight: bold;
}



#Class7B {
  
}

#Social {
  background: linear-gradient(to right,#71a7ff, #2d1fc0);
  font-family: Madimi;
  font-weight: bold;
  display: in-line block;
  color: black;
  height: 36px;
  width: 96px;
  border-radius: 20px;
  border: none;
  margin: 10px;
}


h1 {
  font-family: Madimi;
  color: white;
  text-align: center;
  background: linear-gradient(to right, #6f9be3, #6f63eb);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
}

p {
  background: black;
}

